.header{
    border: red 5px solid;
}
.info{
    border: blue 5px solid;
}
.footer{
    border: green 5px solid;
}
img{
    max-width: 500px;
    max-height: auto;
}



#logo{
    width: 100px;
    height: auto;
}
.header,
.footer{
    background-color: #1F2937;
}